@{
    Layout = null;
}

<div id="menu">
    <ul>
        <li><a class="texto-botao-menu" href="/">Inicio </a></li>
        <li><a class="texto-botao-menu" href="/Home/Sobre">Sobre </a></li>
    </ul>
</div>
