@{
    Layout = null;
}

<div class="fundo-topo">
    <div>
        <img class="imagem-topo" src="~/Content/img/generico5.jpg" />
        <div class="texto-titulo-logo">
            <h1>Nosso Primeiro Site </h1>
        </div>
    </div>
</div>
