@{
    ViewBag.Title = "Lista";
}
<h2>Lista</h2>
<body>
    <div class="texto-formulario">
        <p>Olá senhor(a), @ViewData["Nome"]</p>
        <p>Sua cor favorita é: @ViewData["Cor"]</p>
    </div>
</body>
