body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

<connectionStrings >
<add name="InscricaoConfig" connectionString="data source=AQUI O NOME DO SEU SERVIDOR;
Integrated Security=SSPI;Initial Catalog=AQUI O NOME DO SEU BANCO DE DADOS" providerName="System.Data.SqlClient"/>
</connectionStrings >
